.nav-btn {
  background-color: transparent;
  border: 1.5px solid #f2f5f7;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  margin-left: 2vw;
  font-size: 1rem;
  cursor: pointer;
}

nav li {
  list-style-type: none;
}

nav {
  background-color: #ffffff;
  /* margin:50px; to float the navbar */
  -webkit-box-shadow: 0px -3px 19px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -3px 19px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -3px 19px 0px rgba(0, 0, 0, 0.75);
}

.nav-link {
  color: #a9a9a9;
  border-bottom: 1px solid transparent;
}

.nav-link:hover {
  color: #ffffff;
  background-color: #272a31;
  border-bottom: 1px solid #89a731;
}

.navbar-toggler {
  border-color: #000000;
}

a {
  color: #000000;
}

:hover,
::before,
::after {
  color: #000000;
}

.dropdown-menu {
  background-color: #272a33;
}

.dropdown-item {
  color: #ffffff;
}

.dropdown-divider {
  color: #ffffff;
}
