@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-around;
}

.header .nav-item {
  color: #b0b0b0 !important;
}

.header .nav-item:hover {
  background-color: #233b45;
  color: #ffffff;
}

.header .dropdown-content {
  background-color: #233b45;
  display: none;
  position: absolute;
  min-width: 100%;
  z-index: 1;
}

.header .nav-item:hover {
  border-bottom: 2px solid #85bc23;
}

.header .nav-item {
  display: flex;
  position: relative;
}

.header .nav-item li {
  display: block;
  list-style-type: none;
  position: absolute;
}

.header select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}

.header .custom-select {
  background: transparent
    url("data:image/svg+xml;utf8,<svg fill='Gainsboro' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>")
    100% 5px no-repeat;
  border: none;
  color: #bdbdbd;
  font-size: 15px;
}

@media (min-width: 767px) {
  .header .navbar .dropdown-toggle:not(.nav-link)::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.5em;
    vertical-align: 0;
    border-bottom: 0.3em solid transparent;
    border-top: 0.3em solid transparent;
    border-left: 0.3em solid;
  }
}

/* 

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #434240;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #233b45;
  color: #ffffff;
}

.navbar a:hover,
.dropbtn:hover {
  border-bottom: 2px solid #85bc23;
}

.dropdown-content {
  background-color: #233b45;
  display: none;
  position: absolute;
  min-width: 100%;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: list-item;
  text-align: left;
}

.dropdown-content a:hover {
  color: #85bc23 !important;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}
*/
