@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

header .navbar .dropdown-toggle,
header .navbar .dropdown-menu a {
  color: #434240;
  cursor: pointer;
  float: left;
  font-size: 16px;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

header .navbar .dropdown-item.active,
header .navbar .dropdown-item:active {
  color: inherit;
  text-decoration: none;
  background-color: inherit;
}

header .navbar .dropdown-item:focus,
header .navbar .dropdown-item:hover {
  background-color: #233b45;
  color: #ffffff;
  text-decoration: none;
}

header .nav-item:hover {
  border-bottom: 2px solid #85bc23;
}

@media (min-width: 767px) {
  header .navbar .dropdown-toggle:not(.nav-link)::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.5em;
    vertical-align: 0;
    border-bottom: 0.3em solid transparent;
    border-top: 0.3em solid transparent;
    border-left: 0.3em solid;
  }
}

/* .navbar {
  background-color: #ffffff;
  overflow: hidden;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #434240;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #434240;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #233b45;
  color: #ffffff;
}

.navbar a:hover,
.dropbtn:hover {
  border-bottom: 2px solid #85bc23;
}

.dropdown-content {
  background-color: #233b45;
  display: none;
  position: absolute;
  min-width: 100%;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: list-item;
  text-align: left;
}

.dropdown-content a:hover {
  color: #85bc23 !important;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}
*/
