@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-around;
}

.header .container {
  max-width: 2560px;
  width: 100%;
}

.header .navbar-brand img {
  height: 80px;
  width: 181px;
}

.nav-btn {
  background-color: transparent;
  border: 1.5px solid #f2f5f7;
  border-radius: 2em;
  padding: 0.5rem 0.6rem;
  font-size: 1rem;
  cursor: pointer;
}

nav li {
  list-style-type: none;
}

nav {
  background-color: #ffffff;
  /* margin:50px; to float the navbar */
  -webkit-box-shadow: 0px -3px 19px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -3px 19px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -3px 19px 0px rgba(0, 0, 0, 0.75);
}

.nav-link {
  color: #bdbdbd;
  border-bottom: 3px solid transparent;
}

.nav-link:hover {
  color: #ffffff;
  background-color: #233b45;
  border-bottom: 3px solid #85bc23;
}

.navbar-toggler {
  border-color: #000000;
}

.nav {
  margin-bottom: 0;
}
.dropdown {
  position: static;
}
.dropdown-menu {
  width: 100%;
  text-align: center;
}
.dropdown-menu > li {
  display: inline-block;
}

.form-select {
  border: 1px solid transparent;
}

.dropdown-menu {
  background-color: #233b45;
}

.dropdown-item {
  color: #ffffff;
}

.dropdown-divider {
  color: #ffffff;
}

.form-select::after {
  border: 0px solid transparent;
}

.navbar-nav > li {
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

.navbar-right {
  display: inline-block;
}

#lblCartCount,
#lblLikeCount {
  font-size: 12px;
  background: transparent;
  color: #85bc23;
  padding: 5px;
  border-radius: 50%;
  vertical-align: top;
  margin-left: -20px;
  border: 1px solid #85bc23;
  transform: translateY(-10px);
  background-color: #ffffff;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}

.header .nav-item {
  color: #85bc23 !important;
}

.header .dropdown-content {
  background-color: #233b45;
  display: none;
  position: absolute;
  min-width: 100%;
  z-index: 1;
}

.header .nav-item:hover {
  border-bottom: 2px solid #85bc23;
}

.header .nav-item {
  display: flex;
  position: relative;
}

.header .nav-item li {
  display: block;
  list-style-type: none;
  position: absolute;
}

.header select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}

.header .custom-select {
  background: transparent
    url("data:image/svg+xml;utf8,<svg fill='Gainsboro' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>")
    100% 5px no-repeat;
  border: none;
  color: #bdbdbd;
  font-size: 15px;
  width: 100px;
}

.nav-btn {
  background-color: transparent;
  border: 1.5px solid #f2f5f7;
  border-radius: 2em;
  padding: 0.5rem 0.6rem;
  margin-left: 1vw;
  font-size: 1rem;
  cursor: pointer;
}

nav li {
  list-style-type: none;
}

nav {
  background-color: #ffffff;
  /* margin:50px; to float the navbar */
  -webkit-box-shadow: 0px -3px 19px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -3px 19px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -3px 19px 0px rgba(0, 0, 0, 0.75);
}

.nav-link {
  color: #a9a9a9;
  border-bottom: 3px solid transparent;
}

.nav-link:hover {
  color: #ffffff;
  background-color: #233b45;
  border-bottom: 3px solid #85bc23;
}

.navbar-toggler {
  border-color: black;
}

.nav {
  margin-bottom: 0;
}
.dropdown {
  position: static;
}
.dropdown-menu {
  width: 100%;
  text-align: center;
}
.dropdown-menu > li {
  display: inline-block;
}

.form-select {
  border: 1px solid transparent;
}

.dropdown-menu {
  background-color: #233b45;
}

.dropdown-item {
  color: #ffffff;
}

.dropdown-divider {
  color: #ffffff;
}

.form-select::after {
  border: 0px solid transparent;
}

.navbar-nav > li {
  padding-left: 10px;
  padding-right: 10px;
}

.nav-btn {
  border: 1px solid transparent;
}

.nav-btn:hover {
  border: 1px solid #85bc23;
}

.navbar-right {
  display: inline-block;
}

#lblCartCount,
#lblLikeCount {
  font-size: 12px;
  background: transparent;
  color: #85bc23;
  padding: 5px;
  border-radius: 50%;
  vertical-align: top;
  margin-left: -5px;
  border: 1px solid #85bc23;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

@media (max-width: 991px) {
  .scroll {
    height: 600px;
    overflow-y: scroll;
  }
  .nav > li > a.dropdown-toggle {
    display: none;
  }
  .nav .dropdown-menu {
    display: block;
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-right-2 {
    z-index: 505;
    display: unset !important;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px 20px;
    background-color: #808080;
  }

  .navbar-right-2 ul {
    display: flex !important;
  }

  .navbar-right {
    display: none;
  }
}

.navbar-right-2 {
  display: none;
  position: fixed;
  opacity: 0.9;
}

.navbar-right-2 .btn-li:hover {
  color: #ffffff !important;
}

@media (min-width: 767px) {
  .header .navbar .dropdown-toggle:not(.nav-link)::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.5em;
    vertical-align: 0;
    border-bottom: 0.3em solid transparent;
    border-top: 0.3em solid transparent;
    border-left: 0.3em solid;
  }
}
