@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  background-color: #f1edea;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.container h1,
.container h2 {
  color: #45413e;
  font-weight: 700;
  line-height: 0.1em;
  margin: 10px 0 20px;
  text-align: center;
  width: 100%;
}

.container h1 {
  border-bottom: 1px solid #bdbdbd;
  font-size: 5em;
  font-weight: 700;
  text-align: center;
}

.container h1 span {
  padding: 0 10px;
}

.container h2 {
  font-size: 1em;
  font-weight: 500;
  padding-top: 30px;
}

.container {
  position: relative;
}

.container .justify-content {
  background-color: #ffffff;
}

.container img {
  padding: 10rem 12rem;
  pointer-events: none;
  color: #434240;
}

.container a {
  color: #85bc23;
  text-decoration: none;
}

.container a:hover {
  color: #85bc23 !important;
  text-decoration: underline;
}

.container input.form-control {
  background: url(../img/search.svg) no-repeat scroll center right;
  border-radius: 50px !important;
  padding-right: -30px;
}
